page-connect {


   h2 {
     margin-top: 2.5rem;
      text-align:center;
   }

   img {
     max-height: 60%;
     padding-top: 5rem;
     margin: auto;
     text-align: center;
   }

   b {
     font-weight: 500;
   }

   p {
     margin: auto;
     font-size: 14px;
     line-height: 1.5;
     color: #60646B;
     text-align: center;

     b {
       color: #000000;
     }
   }

}
