<!--
  Generated template for the Songs page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Songs</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="OSB.isConnected()">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let song of songs">
      <h2>{{song.name}}</h2>
      <button ion-button clear item-right (click)="presentSong(song)">View</button>
      </ion-item>
    </ion-list>
</ion-content>

<ion-content padding *ngIf="!OSB.isConnected()">
    <div style="margin: 0 auto; width:200px;">
      <img src="assets/img/connecting.png"/>
    </div>
    <div padding>
      <button ion-button color="light" block (click)="gotoConnect()">Connect first</button>
    </div>
</ion-content>
