page-remote {
  .black-bg {
    background-color: #333333;
  }

  .os-screen{
    height: 100%;
    width: 100%;
  }

  b {
    color: #FFFFFF;
  }

  img{
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
  }
}
