
<ion-content padding class="black-bg">

  <div *ngIf="OSB.getStatus().running">

    <ion-fab left top>
      <button ion-fab color="dark" (click)="toggleScreen()" *ngIf="OSB.getStatus().screen.active">
        <ion-icon name="ios-moon"></ion-icon>
      </button>
      <button ion-fab color="light" (click)="toggleScreen()" *ngIf="!(OSB.getStatus().screen.active)">
        <ion-icon name="ios-sunny"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right top>
      <button ion-fab color="danger" (click)="close()"><ion-icon name="md-close"></ion-icon></button>
    </ion-fab>
    <ion-fab left bottom>
      <button ion-fab color="light" (click)="prev()"><ion-icon name="ios-arrow-back"></ion-icon></button>
    </ion-fab>
    <ion-fab right bottom>
      <button ion-fab color="light" (click)="next()"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-fab>


    <div class="os-screen">
      <img [src]="OSB.getScreenImgURL()"/>
    </div>



  </div>


  <div *ngIf="!(OSB.getStatus().running)">
    <p><b>No presentation running....</b></p>
    <button ion-button color="light" block (click)="close()">Exit</button>
  </div>


</ion-content>
